form
{
	width: 500px;
	margin: auto;
}

input, textarea
{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	background-color: rgba(255,255,255,.8);
}

input:hover, textarea:hover
{
	background-color: #dddddd;

}

legend
{
	color: #888888;
	font-weight: bold;
	font-size: 13pt;
	font-family: sans-serif;
}

fieldset
{
	border-color: #cecece;
	margin: 20px;
}

ul, ol {
    list-style: none;
    display: inline;
}

/*error formating*/
.error {
	color: red;
}

fieldset#buttons
{
	border: none;
	height: 36px;
	color: #333;
	margin-top: 8px;
	font-size: 16px;
}

#submit:hover, #clear:hover {
	cursor: pointer;
}
